:root {
  --primary_color: rgb(248, 244, 234);
  --font_color: #4d270f;
}

body {
  background-color: var(--primary_color);
  font-family: "Kanit", sans-serif;

  /*display: grid;
  grid-template-rows: 10% 15% 15% 20% 10% 10% 15% 5%;
  gap: 0.5%;
  grid-template-areas:
    "navbar"
    "header"
    "text"
    "skills"
    "datos"
    "charla"
    "mensaje"
    "footer";
    */
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*grid-area: footer;*/
}

.navbar-top .menu {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  display: none;
}

.navbar-top .menu .link {
  margin-left: 10px;
  color: #4d270f;


}

@media screen and (min-width: 576px) {
  .navbar-top .menu {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .navbar-top .menu .link {
    transition: color 0.3s linear;
  }

  .navbar-top .menu .link:hover {
    color: #f2337f;
  }
}

.navbar-top img {
  width: 20%;
  min-width: 100px;
  max-width: 90vw;
}

.header {
  background: center center url(../media/5896584.jpg  ) no-repeat;
  height: 200px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: var(--primary_color);
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 400;


}


.link {
  text-decoration: none;

}

.word {
  padding: 4px;
}

.container {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;

}

.container-texto {
  display: flex;
  margin: 10px;
  flex-direction: column;

}

.container-skills {
  background-color: rgb(81, 142, 171);
  padding: 10px;
  border-radius: 10px;
  color: var(--primary_color);
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;

}




.barra {
  justify-content: flex-start;
  display: flex;
  padding: 10px;
  margin: 0;
}

.progress {
  padding: 10px;
  background: rgba(248, 246, 241, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 80vw;
}

.progress-value-animation {
  animation: load-animation 3s infinite;

  border-radius: 100px;
  background: rgb(227, 162, 21);
  height: 20px;
  width: 0;
}

@keyframes load-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.progress-value-logic {
  animation: load-logic 3s infinite;

  border-radius: 100px;
  background: rgb(227, 162, 21);
  height: 20px;
  width: 0;
}

@keyframes load-logic {
  0% {
    width: 0;
  }
  30% {
    width: 50%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 40%;
  }
  100% {
    width: 65%;
  }
}

.progress-value-twerking {
  animation: load-twerking 3s infinite;

  border-radius: 100px;
  background: rgb(227, 162, 21);
  height: 20px;
  width: 0;
}

@keyframes load-twerking {
  0% {
    width: 0;
  }
  100% {
    width: 5%;
  }
}

label {
  padding: 5px;
}

.container-inputs {
  background-color: rgb(227, 162, 21);
  padding: 10px;
  border-radius: 10px;
  color: var(--primary_color);
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}


.input_box {
  background-color: var(--primary_color);
  border: 0px;
  border-radius: 5px;
  width: 110px;
  
}

.container-charla {
  background-color: rgb(227, 107, 21);
  padding: 10px;
  border-radius: 10px;
  color: var(--primary_color);
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  
  
}
.container-msj {
  background-color: rgb(233, 77, 63);
  padding: 10px;
  border-radius: 10px;
  color: var(--primary_color);
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.cubo-msj {
  display: flex;

  background-color: var(--primary_color);
  border: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--font_color);
}
.submit {
  background-color: var(--primary_color);
  border: 0;
  border-radius: 5px;
  color: var(--font_color);
}

.footer{
  padding: 20px;
}
.container-links-footer {
  text-decoration: none;
  display: flex;
  justify-content: space-around;

}

.link-icon {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  display: flex;
  text-decoration: none;

}